.hero__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-block-start: 3rem;
}

.hero__title {
  color: var(--light-color);
  font-size: 5rem;
}

.hero__item--left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
  margin-block-start: 10rem;
}

.word-monster {
  background-image: linear-gradient(
    45deg,
    var(--accent-color),
    var(--primary-color)
  );
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.hero__item--left > * {
  margin: 1rem;
  padding: 0 0 0 3rem;
}

.hero__img {
  max-height: 41rem;
}

.hero__blob {
  min-height: 62rem;
  position: absolute;
  z-index: -1;
  top: 18rem;
  animation: blob infinite 12s ease-in-out;
}

.hero__rabbit {
  position: relative;
  z-index: 1;
  animation: rabbit infinite 30s linear;
  top: 10rem;
  left: 45rem;
}

.hero__plus--1 {
  position: relative;
  min-height: 10rem;
  transform: rotate(45deg);
  transition: transform 0.3;
  animation: plus--1 infinite 40s linear;
  top: 22rem;
}

.hero__plus--2 {
  position: relative;
  transform: rotate(45deg);
  transition: transform 0.3;
  animation: plus--2 infinite 30s ease-in-out backwards;
  left: 2rem;
}

.hero__plus--3 {
  position: relative;
  transform: rotate(45deg);
  transition: transform 0.3;
  animation: plus--2 infinite 30s ease-in-out backwards;
  left: -40rem;
  min-height: 5rem;
}

.hero__plus--4 {
  position: relative;
  transform: rotate(45deg);
  transition: transform 0.3;
  animation: plus--2 infinite 10s linear backwards;
  left: -8rem;
  top: -20rem;
  min-height: 12rem;
}

.hero__plus--5 {
  position: relative;
  transform: rotate(45deg);
  transition: transform 0.3;
  animation: plus--2 infinite 60s linear backwards;
  left: 35rem;
  top: -25rem;
  min-height: 10rem;
}

.hero__planet {
  position: relative;
  top: 22rem;
  transition: all 1s linear;
  animation: planet infinite 10s ease-in-out;
}

.hero__ellipse--1 {
  z-index: -1;
  position: relative;
  top: 17rem;
  opacity: 0.5;
  min-height: 6rem;
  animation: ellipse--1 infinite 150s linear;
}

.hero__ellipse--2 {
  position: relative;
  left: 6rem;
  top: -10rem;
  animation: ellipse--2 infinite 100s ease-in-out;
  z-index: -2;
}

.hero__ellipse--3 {
  z-index: -3;
  position: relative;
  top: 17rem;
  opacity: 0.5;
  min-height: 3rem;
  animation: ellipse--3 infinite 200s linear;
}

.hero__ellipse--4 {
  z-index: -4;
  position: relative;
  top: 17rem;
  opacity: 0.05;
  min-height: 20rem;
  animation: ellipse--4 infinite 180s linear;
}

.hero__star--1 {
  min-height: 6rem;
  position: relative;
  left: 40rem;
  top: -40rem;
  animation: star infinite 2s linear;
}

.hero__star--2 {
  min-height: 6rem;
  position: relative;
  left: -40rem;
  top: -29rem;
  animation: star infinite 8s linear;
}

.hero__star--3 {
  min-height: 3rem;
  position: relative;
  left: -3rem;
  top: -15rem;
  animation: star infinite 5s linear;
}

.hero__star--4 {
  min-height: 4rem;
  position: relative;
  left: -2rem;
  top: -30rem;
  animation: star infinite 10s linear;
}

.hero__star--5 {
  min-height: 2rem;
  position: relative;
  left: 3rem;
  top: -2rem;
  animation: star infinite 3s linear;
  transform: rotate(90deg);
}

.hero__wrapper--2 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  top: 27rem;
}

.hero__menu i {
  color: #fff;
  font-size: 4.5rem;
  padding: 1.5rem;
  border-radius: 2rem;
  width: 7.5rem;
  transition: all 0.3s linear;
}
.hero__menu--1 i {
  background-color: rgb(51, 34, 211);
}
.hero__menu--2 i {
  background-color: rgb(51, 168, 61);
}
.hero__menu--3 i {
  background-color: rgb(138, 38, 219);
}
.hero__menu--4 i {
  background-color: rgb(224, 71, 0);
  padding-inline-start: 2rem;
}

.hero__menu {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 7rem 0.5rem 45rem 5rem;
  transition: transform 0.2s linear;
}

.hero__menu:hover i {
  transform: translateY(-2rem);
  font-size: 5rem;
}

.hero__menu:hover .hero__menu > * {
  margin: 1rem 3rem;
}

.slider {
  color: #fff;
  cursor: pointer;
}
