.hero__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-block-start: 3rem;
}

.hero__title {
  color: var(--light-color);
  font-size: 5rem;
}

.hero__item--left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
  margin-block-start: 10rem;
}

.word-monster {
  background-image: linear-gradient(
    45deg,
    rgb(167, 109, 233),
    var(--primary-color)
  );
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.hero__item--left > * {
  margin: 1rem;
}

.hero__img {
  max-height: 41rem;
}

.hero__blob {
  min-height: 62rem;
  position: absolute;
  z-index: -10;
  top: 18rem;
  /* left: 5rem; */
}

.hero__rabbit {
  position: relative;
  z-index: 1;
  animation: rabbit infinite 2s linear;
  top: 10rem;
  left: 45rem;
}

.hero__plus--1 {
  position: relative;
  min-height: 10rem;
  transform: rotate(45deg);
  transition: transform 0.3;
  animation: plus--1 infinite 40s linear;
  top: 22rem;
}

.hero__plus--2 {
  position: relative;
  transform: rotate(45deg);
  transition: transform 0.3;
  animation: plus--2 infinite 30s ease-in-out backwards;
  left: 2rem;
}

.hero__plus--3 {
  position: relative;
  transform: rotate(45deg);
  transition: transform 0.3;
  animation: plus--2 infinite 30s ease-in-out backwards;
  left: -40rem;
  min-height: 5rem;
}

.hero__plus--4 {
  position: relative;
  transform: rotate(45deg);
  transition: transform 0.3;
  animation: plus--2 infinite 10s linear backwards;
  left: -8rem;
  top: -20rem;
  min-height: 12rem;
}

.hero__planet {
  position: relative;
  top: 22rem;
}

.hero__ellipse--1 {
  z-index: -1;
  position: relative;
  top: 17rem;
  opacity: 0.5;
  min-height: 6rem;
  animation: ellipse--1 infinite 300s linear;
}

.hero__ellipse--2 {
  position: relative;
  left: 6rem;
  top: -10rem;
  animation: ellipse--2 infinite 200s ease-in-out;
  z-index: -1;
}

.hero__wrapper--2 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  top: 27rem;
}

.hero__menu i {
  color: #fff;
  font-size: 4.5rem;
  padding: 1.5rem;
  border-radius: 2rem;
  width: 7.5rem;
}
.hero__menu--1 i {
  background-color: rgb(51, 34, 211);
}
.hero__menu--2 i {
  background-color: rgb(51, 168, 61);
}
.hero__menu--3 i {
  background-color: rgb(138, 38, 219);
}
.hero__menu--4 i {
  background-color: rgb(224, 71, 0);
  padding-inline-start: 2rem;
}

.hero__menu {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-block-end: 50rem;
}

.hero__menu > * {
  margin: 2rem;
}

.slider {
  color: #fff;
  cursor: pointer;
}
