*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  --primary-color: #170322;
  --dark-color: #07050e;
  --accent-color: rgb(110, 64, 219);
  --navbar-btn-color: rgba(52, 52, 68);
  --light-color: #f3f3f3;
  --font-accent-color: #808080;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

body {
  font-size: 1.5rem;
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, #170322 75%);
}

button {
  cursor: pointer;
  font-family: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--light-color);
  cursor: pointer;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  padding: 0 1rem;
}

.btn {
  font-family: inherit;
  text-overflow: none;
  font-size: 1.8rem;
  padding: 1rem 2.5rem;
  border-radius: 2rem;
  outline: 0;
  border: none;
  box-shadow: none;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.btn__primary {
  background-color: var(--primary-color);
  color: var(--light-color);
  box-shadow: inset 0 0 0 0.2rem var(--accent-color);
}

.btn:hover {
  background-color: var(--accent-color);
  color: var(--light-color);
}

.secondary-text {
  color: var(--font-accent-color);
  font-family: inherit;
}

@keyframes rabbit {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(30%);
  }
}

@keyframes plus--1 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes plus--2 {
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes ellipse--1 {
  10% {
    transform: translateX(30rem) translateY(-60rem);
  }
  25% {
    transform: translateX(-80rem) translateY(-30rem);
  }
  50% {
    transform: translateX(-60rem) translateY(-50rem);
  }
}

@keyframes ellipse--2 {
  10% {
    transform: translateX(-30rem) translateY(-10rem);
  }
  25% {
    transform: translateX(-60rem) translateY(-40rem);
  }
  50% {
    transform: translateX(20rem) translateY(40rem);
  }
}
