#navbar {
  min-height: 10vh;
}

.navbar__logo img {
  max-height: 8rem;
}

.navbar__wrapper {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-block-end: 0.1rem solid grey;
  position: sticky;
}

.navbar__menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar__menu--item {
  color: var(--light-color);
  cursor: pointer;
  margin-inline-start: 1rem;
  margin-inline-end: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar__menu--item i {
  margin-inline-start: 0.8rem;
  font-size: 1.5rem;
}

.navbar__search {
  color: var(--light-color);
  margin-inline-start: 2rem;
  cursor: pointer;
  font-size: 2rem;
  margin-inline-end: 3rem;
}

.navbar__wallet {
  display: flex;
  flex-direction: row;
}

.btn__walelt {
  display: inline-block;
}

.navbar--modes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navbar--modes > * {
  padding: 1rem;
  margin-inline-start: 0.5rem;
  height: 4rem;
  background-color: var(--navbar-btn-color);
  cursor: pointer;
  border-radius: 20%;
}
