#navbar {
  min-height: 10vh;
  border: 1px solid red;
}

.navbar__logo img {
  max-height: 8rem;
}

.navbar__wrapper {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.navbar__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__menu--item {
  color: var(--light-color);
  cursor: pointer;
  margin-left: 1rem;
  margin-right: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar__menu--item i {
  margin-left: 0.8rem;
  font-size: 1.5rem;
}

.navbar__search {
  color: var(--light-color);
  margin-left: 2rem;
  cursor: pointer;
  font-size: 2rem;
}

.navbar__wallet {
  display: flex;
  flex-direction: row;
}
