.seller__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10rem 0 20rem 0;
}

.seller__title {
  color: #fff;
}

.seller__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.seller__text > * {
  margin: 0.5rem 0;
}

.seller__text p {
  color: rgb(99, 99, 99);
}

.seller__text h4 {
  color: #fff;
}

.seller__row--1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.seller__row--2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.seller__card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0 2.5rem;
}

.seller__card > * {
  margin: 1rem;
}

.seller__avatar {
  max-width: 8rem;
  max-height: 8rem;
  border-radius: 2rem;
}
