@media (max-width: 70rem) {
  .navbar__menu {
    display: none;
  }

  .hero__item--right {
    display: none;
  }

  .hero__item--left h1 {
    font-size: 8rem;
  }

  .auctions__items {
    flex-direction: column;
  }

  .item__wrapper--1 {
    background-size: cover;
  }

  img.auctions__items::before,
  .auctions__items::after img {
    max-height: 1rem;
  }

  .collection__items {
    flex-direction: column;
    left: 5rem;
  }

  .collection__item {
    margin: 2rem 0;
  }

  .explore {
    position: relative;
    top: 0;
    left: 0;
  }

  .seller__card {
    max-width: 14rem;
    margin: 0 1rem;
  }

  .auctions__items {
      flex-wrap: wrap;
  }
}

@media (max-width: 90rem) {
 

  .hero__blob {
    display: none;
  }

  .hero__ellipse--1,
  .hero__ellipse--2,
  .hero__ellipse--3,
  .hero__ellipse--4 {
    animation: none;
    left: -48rem;
  }

  .hero__planet {
    animation: none;
    left: -40rem;
  }

  .hero__plus--1,
  .hero__plus--2,
  .hero__plus--3,
  .hero__plus--4,
  .hero__plus--5 {
    display: none;
  }

  .hero__star--1,
  .hero__star--2,
  .hero__star--3,
  .hero__star--4,
  .hero__star--5 {
    left: -35rem;

    z-index: -10;
  }

  .hero__rabbit {
    left: 2rem;
  }

  .auctions__item {
    max-width: 25rem;
    max-height: 100%;
    flex-wrap: wrap;
  }

  

  .collection__items {
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    /* left: 15%; */
  }

  .collection__item {
    margin: 1rem 0;
  }

  .first-row{
    display: grid;
    grid-template-columns: repeat(2, 1f);
    grid-template-rows: repeat(1, 1f);
    justify-content: center;
  }

  .second-row {
    flex-wrap: wrap;
  }

  .collection__img--1,
  .collection__img--2,
  .collection__img--6,
  .collection__img--7,
  .collection__img--11,
  .collection__img--12 {
    max-width: 16rem;
    max-height: 15rem;
  }

  .collection__img--3,
  .collection__img--4,
  .collection__img--5,
  .collection__img--8,
  .collection__img--9,
  .collection__img--10,
  .collection__img--13,
  .collection__img--14,
  .collection__img--15 {
    max-width: 10rem;
    max-height: 10rem;
  }

  .seller__row--1,
  .seller__row--2 {
    flex-wrap: wrap;
  }

  .seller__card:hover {
    box-shadow: 0.1rem 0.1rem 1rem var(--accent-color);
    border-radius: 0;
  }

  .seller__card:hover .seller__avatar {
    transform: translateY(-1.5rem);
    transform: rotate(0);
  }

  .seller__card {
    margin: 1.5rem;
    font-size: 1.2rem;
  }

  .today__row--1,
  .today__row--2 {
    flex-wrap: wrap;
  }

  .today__item{
    width: 300px;
  }
}
