@media screen and (max-width: 800px) {
  .navbar__menu {
    display: none;
  }

  .hero__item--right {
    display: none;
  }

  .hero__item--left h1 {
    font-size: 6rem;
  }

  .hero__wrapper--2{
    flex-wrap: wrap;
  }

  .item__wrapper--1 {
    background-size: cover;
  }



  .collection__wrapper{
    margin: 20rem 0 0 0;
  }

  .collection__items{
    /* flex-direction: column; */
    flex-wrap: wrap;
  }

  .collection__title img {
    display: none;
  }

  .collection__items {
    flex-direction: column;
    left: 5rem;
  }

  .collection__item {
    margin: 2rem 0;
  }

  .explore {
    position: relative;
    top: 0;
    left: 0;
  }

  .seller__card {
    max-width: 14rem;
    margin: 0 1rem;
  }

  #live-auctions {
    display: none;
  }

  .today__monster{
    display: none;
  }

  .today__sort{
    flex-wrap: wrap;
  }

  .footer__wrapper {
    flex-wrap: wrap;
  }

}

@media screen and (max-width: 600px) {


  .burger-menu {
      display: flex;
    }
  
    .navbar__menu {
      display:none;
    }

    .navbar__logo img {
      width: 8rem;
    }

    .navbar__button-light__div{
      display: none;
    }

    .navbar__search {
      display: none;
    }

    .navbar__wallet{
      display: none;
    }

    .navbar__profile__img{
      display: none;
    }

    .navbar__wrapper{
      justify-content: space-between;
      width: 100%;
    }

  .hero__item--left h1 {
      font-size: 4rem;
    }
 

  .hero__blob {
    display: none;
  }

  .hero__ellipse--1,
  .hero__ellipse--2,
  .hero__ellipse--3,
  .hero__ellipse--4 {
    animation: none;
    left: -48rem;
  }

  .hero__planet {
    animation: none;
    left: -40rem;
  }

  .hero__plus--1,
  .hero__plus--2,
  .hero__plus--3,
  .hero__plus--4,
  .hero__plus--5 {
    display: none;
  }

  .hero__star--1,
  .hero__star--2,
  .hero__star--3,
  .hero__star--4,
  .hero__star--5 {
    left: -35rem;

    z-index: -10;
  }

  .hero__rabbit {
    left: 2rem;
  }

  .collection__item{
    width: 90%;
  }

  .likes i{
    font-size:1.2rem
  }
  .likes p{
    font-size:1.2rem
  }

  .collection__images{
    grid-template-rows: repeat(6, 30px) ;
  }

  .collection__creator .creator__text h3{
    font-size:1.5rem
  }

  .seller__row--1,
  .seller__row--2 {
    flex-wrap: wrap;
  }

  .seller__card:hover {
    box-shadow: 0.1rem 0.1rem 1rem var(--accent-color);
    border-radius: 0;
  }

  .seller__card:hover .seller__avatar {
    transform: translateY(-1.5rem);
    transform: rotate(0);
  }

  .seller__card {
    margin: 1.5rem;
    font-size: 1.2rem;
  }

  .today__row--1,
  .today__row--2 {
    flex-wrap: wrap;
  }

  .today__item{
    width: 300px;
  }

    .social {
      display: flex;
      flex-direction: column;
      background-color: var(--accent-color);
      /* padding: 1rem 0.3rem; */
      border-radius: 2.5rem;
      position: fixed;
      position: -webkit-fixed;
      top: 50%;
      transform: translateY(-50%);
      left: 0.1rem;
      width: 4rem;
      padding: 0
    }
  
    .social>* {
      background-color: var(--accent-color);
      width: 4rem;
      font-size: 1.5rem;
      margin: 0;
    }
  
    .social>*:hover {
      background-color: var(--primary-color);
      border-radius: 100%;
    }
}
