#navbar {
  min-height: 5vh;
  position: sticky;
  top: 0rem;
  z-index: 2;
  background-image: linear-gradient(
    90deg,
    var(--dark-color) 0%,
    var(--primary-color) 75%
  );
  border-block-end: 0.1rem solid var(--secondary-background-color);
}

.navbar__logo img {
  max-height: 8rem;
  margin: 0.5rem 0;
}

.navbar__wrapper {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* width: 100%; */
}

.navbar__menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s linear;
  width: 40%;
}

.navbar__menu__item {
  color: var(--light-color);
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: all 0.2s linear;
  width: 15%;
}


.menu__item--wrapper{
  display: flex;
  flex-direction: column;
  width: 20%;
}


.navbar__menu__item i {
  margin-inline-start: 0.8rem;
  font-size: 1.5rem;
  transition: all 0.2s linear;
}

.navbar__search {
  color: var(--light-color);
  margin-inline-start: 2rem;
  cursor: pointer;
  font-size: 2rem;
}

/* dropdown menu */

.dropdown-menu__wrapper{
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 10%;
  transition: all 0.2s linear;
  
}

.dropdown-menu__item{
  margin: 1rem 0;
  font-size: var(--font-s);
  width: 100%;
  transition: all 0.2s linear;
  padding: 1rem 5rem;
  text-align: center;
  position: relative;
}

.dropdown-menu__item:hover{
  background-color: var(--dark-color);
}


.dropdown-menu__list--explore{
  position: absolute;
  transition: all 0.2s linear;
  background-color: var(--accent-color);
  border: 1px solid var(--dark-color);
  border-radius: var(--card-radius);
  width: 10%;
  left: 25%;
  top: 80%;
}


.dropdown-menu__list--pages{
  position: absolute;
  transition: all 0.2s linear;
  background-color: var(--accent-color);
  border: 1px solid var(--dark-color);
  border-radius: var(--card-radius);
  width: 10%;
  left: 45%;
  top: 80%;
}



/* dropdown menu */

.navbar__wallet {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn__wallet {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn__wallet > * {
  margin: 0 0.5rem 0 0;
}

.navbar--modes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navbar__button--light,
.navbar__button--light {
  border: none;
}

.navbar--modes > * {
  padding: 1rem;
  margin-inline-start: 0.5rem;
  height: 4rem;
  background-color: var(--navbar-btn-color);
  cursor: pointer;
  border-radius: 20%;
}

.rp-menu {
  cursor: pointer;
  padding: 1rem 1.5rem;
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  font-size: 3rem;
  display: none;
}

.rp-menu i {
  color: var(--light-color);
}

@media (max-width: 60rem) {
  .rp-menu {
    display: block;
  }

  .navbar__menu {
    display: none;
  }
}
