.seller__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20rem 0 20rem 0;
  /* background: red; */
}

.seller__title {
  color: var(--light-font-color);
  background-color: var(--secondary-background-color);
  padding: 1rem 2rem;
  border-radius: 3rem;
  font-size: 2rem;
  margin: 0 0 2rem 0;
}

.seller__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.seller__text > * {
  margin: 0.3rem 0;
}

.seller__text p {
  color: rgb(99, 99, 99);
}

.seller__text h4 {
  color: var(--light-font-color);
}

.seller__row--1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
  width: 100%;
}
.seller__row--2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
  width: 100%;
}

.seller__card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* margin: 0 2.5rem; */
  transition: all 0.1s linear;
}

.seller__card > * {
  margin: 1rem;
}

.seller__avatar {
  max-width: 8rem;
  max-height: 8rem;
  border-radius: 2rem;
  transition: all 0.1s linear;
}

.seller__card:hover .seller__avatar {
  transform: rotate(5deg) translateY(-1.5rem);
}

.seller__card:hover {
  box-shadow: 0.5rem 0.3rem 3rem 1rem var(--accent-color);
  border-radius: 2rem;
}
